backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
basemap==1.0.7
BeautifulSoup==3.2.1
bleach==2.1.1
blosc==1.5.1
certifi==2017.11.5
Cheetah==2.4.4
configobj==5.0.6
configparser==3.5.0
cryptography==1.2.3
cycler==0.9.0
Cython==0.27.3
dap==2.2.6.7
decorator==4.0.11
dnspython==1.12.0
entrypoints==0.2.3
enum34==1.1.6
feather-format==0.4.0
FormEncode==1.3.0
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.1.1
GDAL==1.11.3
gpxpy==1.3.3
h5py==2.7.1
hdf5storage==0.1.14
html5lib==1.0b10
httplib2==0.9.1
idna==2.0
imageio==2.1.2
ipaddress==1.0.16
ipykernel==4.6.1
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.0.4
Jinja2==2.10
json-tricks==3.11.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.3.3
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.1.0
jupyter-latex-envs==1.3.8.4
jupyter-nbextensions-configurator==0.2.8
llvmlite==0.20.0
lxml==4.1.1
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==1.5.1
mistune==0.8.1
mock==2.0.0
moviepy==0.2.3.2
mpltools==0.2.0
nbconvert==5.3.1
nbformat==4.4.0
netCDF4==1.2.2
notebook==5.2.1
numba==0.35.0
numexpr==2.6.4
numpy==1.11.0
pandas==0.21.0
pandocfilters==1.4.2
Paste==1.7.5.1
PasteDeploy==1.5.2
PasteScript==1.7.5
pathlib2==2.3.0
patsy==0.4.1
pbr==3.1.1
pexpect==4.3.0
pickleshare==0.7.4
Pillow==3.1.2
pipenv==2018.11.26
prompt-toolkit==1.0.15
protobuf==3.4.0
ptyprocess==0.5.2
pyarrow==0.7.1
pyasn1==0.1.9
pyephem==3.7.6.0
Pygments==2.2.0
pyinstall==0.1.4
pykml==0.1.3
pyOpenSSL==0.15.1
pyparsing==2.0.3
python-dateutil==2.6.1
python-openid==2.2.5
python-pptx==0.6.9
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
scandir==1.6
scgi==1.13
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
simplegeneric==0.8.1
simplekml==1.3.0
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
statsmodels==0.8.0
tables==3.4.2
Tempita==0.5.2
tensorflow==1.12.2
tensorflow-tensorboard==0.4.0rc2
terminado==0.6
testpath==0.3.1
tornado==4.5.2
tqdm==4.11.2
traitlets==4.3.2
typing==3.6.6
virtualenv==16.5.0
virtualenv-clone==0.5.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.0.7
XlsxWriter==1.0.5
zmq==0.0.0
